/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: sans-serif;
  padding: 1rem 2rem;
  background-color: rgb(44, 62, 80);
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  display: inline-block;
  /*margin-top: 0.3em;*/
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

h1{
  font-size: 4em;
  font-family: "title", Verdana, sans-serif;
}

h2{
  font-family: "section", Verdana, sans-serif;
  font-size: 2em;
}

h3{
  font-family: "section2", Verdana, sans-serif;
  font-size: 2em;
}

p, a{
  font-family: "body_text", Verdana, sans-serif;
}

a{
  text-decoration: none;
  color: red;
}

/*p.rendered{
  max-width: 10em;
}*/


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  font-size: 1.1em;
  background-color: rgb(192,57,43);/*#333;*/
  border-radius: 0.20em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.2s ease-out;
  font-family: "section_special", Verdana, sans-serif;
}

.button:hover, .button:focus, .button:active {
    background-color: rgb(44, 62, 80);
}


/*.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}*/

.button-nav:hover, .button-nav:focus {
  background-color: #999;
}




.description_element{
  width: 17rem;
  /*height: 8em;*/
}

.section-Div{
  /*display: inline;*/
  /*border: blue 1px solid;*/
}

.section-Element{
  display: inline-block;
  /*border: red 1px solid;*/
  margin-right: 3em;
  border-right: black 2px solid;
}

.section-Element-Info{
  /*margin-bottom: 5em;*/
  padding: 1em;
  border: none;
}

.in-text{
  text-decoration: none;
  font-family: "body_text_link", Verdana, sans-serif;
  color: #999;
}

.button_submit{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #000;
  font-size: 1.5em;
  background-color: rgb(220,220,220);/*#333;*/
  border-radius: 0.20em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.2s ease-out;
  font-family: "section_special", Verdana, sans-serif;
  border: grey 2px solid;
}

.button_submit:hover, .button_submit:focus, .button_submit:active{
  background-color: rgb(192,57,43);
  color: #fff;
  border: black 2px solid;
}

.button_reset{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  font-size: 1.5em;
  background-color: rgb(44, 62, 80);/*#333;*/
  border-radius: 0.20em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.2s ease-out;
  font-family: "section_special", Verdana, sans-serif;
  border: grey 2px solid;
}

.button_reset:hover, .button_reset:focus, .button_reset:active{
  background-color: rgb(200,200,200);
  color: rgb(44, 62, 80);
  border: black 2px solid;
}

.input_field{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  font-size: 1.1em;
  background-color: rgb(44, 62, 80);/*#333;*/
  border-radius: 0.20em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.2s ease-out;
  font-family: "body_text", Verdana, sans-serif;
}

.input_field:hover, .input_field:focus, .input_field:active{
  background-color: rgb(200,200,200);
  color: #000;
  border: black 2px solid;
}




/*
  TEXT ELEMENTS -------------------
*/

ul, ol{
  font-size: 1.2em;
  font-family: "body_text", Verdana, sans-serif;
}

/* paragraph section */
.paragraph-section{
  border: red 1px solid;
  /*position: absolute;*/
  display: inline-block;
  /*padding-left: 20%;*/
  /*padding-right: 40%;*/
  width: 50%;
  margin-left: 6em;
}



/*
  COMBINED ELEMENTS -------------------
*/

.navBarItem{
  font-family: "title", Verdana, sans-serif;
  background-color: rgb(192,57,43);
  padding: 1em;
  display: inline-block;
  /*border-radius: 0.10em;*/
  font-size: 1em;
  text-decoration: none;
  color: white;
  border: 2px rgb(44, 62, 80) solid;

  /*display: inline-block;
	color: white;
	background-color: rgb(250,100,75);
	font-size: 1.5rem;
	padding: 0.25rem 0.5rem;*/
	text-decoration: none;
	transition: background-color 0.3s ease-out;
}

.navBarItem:hover, .navBarItem:focus, .navBarItem:active{
  background-color: rgb(44, 62, 80);
  /*border: 2px grey solid;*/
}

.home_img{
  width: 75%;
  padding: 0 3em;
}

.item-name{
  margin-left: 10em;
}


.side-image{
  border: red 1px solid;
  display: inline-block;
  /*margin-top: 15%;*/
  /*margin-right: auto;*/
  /*padding-bottom: 10em;*/
  /*padding-left: 70%;*/
}

.grid_content_heading{
  font-family: "title", Verdana, sans-serif;
  border: orange 1px solid;
  padding: 1em;
}

.grid_content_subheading{
  font-family: "title", Verdana, sans-serif;
  border: orange 1px solid;
  padding: 1em;
}

.grid_content_body{
  font-family: "title", Verdana, sans-serif;
  border: orange 1px solid;
  padding: 0.2em;
}


.container_body{
  border: red 1px solid;
}

.container_main{
  border: blue 1px solid;
  /*margin: 1em;*/
  padding: 2em;
  background-color: #fff;
}

.home_imgs{
  display: inline-block;
  width: 50%;
  border: red 1px dotted;
  height: 30em;

}

.home_content{
  display: inline-block;
  width: 49%;
  border: green 1px dotted;
  height: 30em;
  margin-top: 0;
  background-color: #fff;

}

.home_content_heading{
  border: 1px red dashed;
  padding-left: 2em;
}


.top_banner{
  border: green 1px solid;
  padding: 1em;
  background-color: #fff;
}

.logo_icon{
  display: inline-block;
  border: black 1px solid;
  height: 8em;
}

.logo_text{
  display: inline-block;
  border: yellow 1px solid;
  height: 8em;
  margin: 0 2em;
  /*position: absolute;*/
}

.bottom_banner{
  border: purple 1px solid;
  margin: 1em;
  overflow: auto;
  background-color: #fff;
}

.social_media_icon{
  display: inline-block;
  position: relative;
  float: right;

  width: 5em;
  height: 5em;
  border: orange 1px solid;
}

.row{
  display: inline-block;
  border: red 1px solid;
  margin-left: 6em;
  margin-bottom: 2em;
}

/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
div.tab button {
    font-family: "title", Verdana, sans-serif;
    font-size: 1.5em;
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}



/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: block;
    /*float: left;*/
    /*padding: 0px 12px;*/
    /*border: 1px solid #ccc;*/
    /*width: 70%;*/
    /*border-left: none;*/
    height: 300px;
    border: green 1px solid;
}


@media (max-width: 73.44em) { /*768px, 1175*/
    .home_imgs{
      width: 100%;
      display: block;
    }

    .home_content{
      width: 100%;
      display: block;
    }
}

@media (max-width: 71.75em) {

  .paragraph-section{
    border: red 1px solid;
    /*position: absolute;*/
    /*display: inline-block;*/
    /*padding-left: 20%;*/
    /*padding-right: 40%;*/
    width: 100%;
    margin-left: 0;
    padding: 2em;
  }

  .side-image{
    border: red 1px solid;
    display: inline-block;
    margin-left: 15em;

    /*margin-top: 15%;*/
    /*margin-right: auto;*/
    /*padding-bottom: 10em;*/
    /*padding-left: 70%;*/
  }

}
