/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  /*font-family: sans-serif;*/
  padding: 1rem 2rem;
  background-color: rgb(44, 62, 80);
}

body.citation{
  background-color: #fff;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  display: inline-block;
  /*margin-top: 0.3em;*/
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

h1{
  font-size: 4em;
  font-family: "title", Verdana, sans-serif;
  color: rgb(44, 62, 80);
  /*text-decoration: underline;*/
}

h1.h1_center{
  text-align: center;
}

h2{
  font-family: "section", Verdana;
  font-size: 2em;
  color: rgb(192,57,43);
  text-align: left;
  padding-top: 1em;
  /*padding-left: 5.5em;*/
  padding-bottom: 0em;

}

h2.h2_center{
  text-align: center;
}

h2.cart_title{
  text-align: center;
  font-size: 2em;
  border-bottom: 2px black solid;
  padding-bottom: 1em;
  padding-top: 0em;
  padding-right: 1em;
  width: 90%;

}
h2.bullet_forms{
  text-align: left;
  padding-left: 0em;
  font-size: 2em;
  padding-top: 0em;
}
h2.item_paragraph{
  text-align: right;
  font-size: 2em;
  padding-top: 0em;
  max-width: 12em;
}


h3{
  font-family: "section2", Verdana;
  font-size: 2em;
}

h3.product_title{
  font-family: "section2", Verdana;
  font-size: 1em;
  text-align: left;
  color: white;
}

h3.product_price{
  font-family: "section2", Verdana;
  font-size: 1em;
  text-align: left;
  color: white;
}

h3.product_page_name{
  /*display: flex;*/
  margin-right: 5em;
  padding-left: 2em;
}
h3.product_page_price{
  /*display: flex;*/
  margin-right: 5em;
}
h3.item-info{
  font-family: "section2", Verdana;
  font-size: 1em;
  text-align: left;
  color: white;
}

h4{
  font-family: "section2", Verdana;
  font-size: 2em;
  text-align: center;
  color: rgb(44, 62, 80);
}

h5{
  font-family: "section2", Verdana;
  font-size: 1.5em;
  text-align: left;
  margin-right: 1.5em;

}

h5.cart-info{
  font-family: "section2", Verdana;
  font-size: 1.5em;
  /*text-align: right;*/
  padding-left: 0em;
}

h6{
  font-family: "section2", Verdana;
  font-size: 1.5em;
  text-align: right;
  padding-right: 8em;
}
.text_input{
  font-family: "section2", Verdana;
  font-size: 1em;
  /*text-align: right;*/
  /*padding-left: 8em;*/
  /*text-align: center;*/
}

h6.price_number{

}


p, a {
  font-family: "body_text", Verdana;
  /*text-align: center;*/
  padding: 0 2em;
}

p.delivery{
  font-family: "section2", Verdana;
  font-size: 1.5em;
  text-align: right;
  max-width: 20em;
  padding-left: 0em;
}

p.footer {
  font-family: "section", Verdana;
  color: rgb(44, 62, 80);
  text-align: center;
  padding-top: 1em;
}


.bullet_forms{
  font-family: "section", Verdana;
  color: rgb(44, 62, 80);
  text-align: left;
  padding-top: 0em;
}

a{
  text-decoration: none;
  color: white;
}

/*p.rendered{
  max-width: 10em;
}*/


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

.button{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  font-size: 1.1em;
  background-color: rgb(192,57,43);/*#333;*/
  border-radius: 0.20em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.2s ease-out;
  font-family: "section_special", Verdana;
}

.button:hover, .button:focus, .button:active {
    background-color: rgb(125,35,20);
}

.button_order{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  font-size: 3em;
  background-color: rgb(192,57,43);/*#333;*/
  border-radius: 0.20em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.2s ease-out;
  font-family: "section_special", Verdana;
}

.button_order:hover, .button_order:focus, .button_order:active {
    background-color: rgb(44, 62, 80);
}



.button_remove:hover, .button_remove:focus, .button_remove:active {
    /*background-color: rgb(192,57,43);*/
    background-color: rgb(250,50,50);
}

.button_add{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  font-size: 1.1em;
  background-color: rgb(44, 62, 80);
  border-radius: 0.20em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.2s ease-out;
  font-family: "section_special", Verdana;
  margin-top: 2em;
}

.button_add:hover, .button:focus, .button:active {
    background-color: rgb(15,15,33);
}


/*.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}*/

.button-nav:hover, .button-nav:focus {
  background-color: #999;
}




.description_element{
  width: 17rem;
  /*height: 8em;*/
}

.section-Div{
  /*display: inline;*/
  /*border: blue 1px solid;*/
}

.section-Element{
  display: inline-block;
  /*border: red 1px solid;*/
  flex: 0 0 25%;
  /*margin-right: 3em;*/
  border-right: black 2px solid;
}

.section-Element-Info{
  /*margin-bottom: 5em;*/
  padding: 1em;
  border: none;
}

.in-text{
  text-decoration: none;
  font-family: "body_text_link", Verdana;
  color: #999;
}

.button_submit{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #000;
  font-size: 1.5em;
  background-color: rgb(220,220,220);/*#333;*/
  border-radius: 0.20em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.2s ease-out;
  font-family: "section_special", Verdana, sans-serif;
  border: grey 2px solid;
}

.button_submit:hover, .button_submit:focus, .button_submit:active{
  background-color: rgb(192,57,43);
  color: #fff;
  border: black 2px solid;
}

.button_reset{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  font-size: 1.5em;
  background-color: rgb(44, 62, 80);/*#333;*/
  border-radius: 0.20em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.2s ease-out;
  font-family: "section_special", Verdana;
  border: grey 2px solid;
}

.button_reset:hover, .button_reset:focus, .button_reset:active{
  background-color: rgb(200,200,200);
  color: rgb(44, 62, 80);
  border: black 2px solid;
}

.input_field{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  font-size: 1.1em;
  background-color: rgb(44, 62, 80);/*#333;*/
  border-radius: 0.20em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.2s ease-out;
  font-family: "body_text", Verdana, sans-serif;
}

.input_field:hover, .input_field:focus, .input_field:active{
  background-color: rgb(200,200,200);
  color: #000;
  border: black 2px solid;
}




/*
  TEXT ELEMENTS -------------------
*/

ul, ol{
  font-size: 1em;
  font-family: "body_text", Verdana;
  text-align: left;

}

/* paragraph section */
.paragraph-section{
  border: red 1px solid;
  /*position: absolute;*/
  display: inline-block;
  /*padding-left: 20%;*/
  /*padding-right: 40%;*/
  width: 50%;
  margin-left: 6em;
}



/*
  COMBINED ELEMENTS -------------------
*/

.navBarItem{
  font-family: "title", Verdana;
  background-color: rgb(192,57,43);
  padding: 1em;
  display: inline-block;
  /*border-radius: 0.10em;*/
  font-size: 1em;
  text-decoration: none;
  color: white;
  border: 1px rgb(44, 62, 80) solid;

  /*display: inline-block;
	color: white;
	background-color: rgb(250,100,75);
	font-size: 1.5rem;
	padding: 0.25rem 0.5rem;*/
	text-decoration: none;
	transition: background-color 0.3s ease-out;
}

.navBarItem:hover, .navBarItem:focus, .navBarItem:active{
  background-color: rgb(125,35,20);
  /*border: 2px grey solid;*/
}

.home_img{
  width: 75%;
  padding: 0 3em;
}

.item-name{
  margin-left: 10em;
}




.side-image{
  border: red 1px solid;
  display: inline-block;
  /*margin-top: 15%;*/
  /*margin-right: auto;*/
  /*padding-bottom: 10em;*/
  /*padding-left: 70%;*/
}

.grid_content_heading{
  font-family: "title", Verdana;
  border: orange 1px solid;
  padding: 1em;
}

.grid_content_subheading{
  font-family: "title", Verdana;
  border: orange 1px solid;
  padding: 1em;
}

.grid_content_body{
  font-family: "title", Verdana;
  border: orange 1px solid;
  padding: 0.2em;
}

.container{
  display: flex;
}

.container.space-around{
  justify-content: space-around;
}

.container.space-between{
  justify-content: space-between;
}

.container_main{
  /*border: blue 1px solid;*/
  /*margin-top: 1em;*/
  padding: 2em;
  background-color: rgb(230,230,230);
  overflow: hidden;

}

.container_main_home{
  /*border: blue 1px solid;*/

  margin-top: 1em;
  padding: 2em;
  background-color: #fff;
  /*overflow: hidden;*/
}



.home_imgs{
  flex-direction: column;
  width: 100%;
  display: block;


}

.home_content{
  flex-direction: column;
  width: 100%;
  display: block;



}

.home_content_heading{
  /*border: 1px red dashed;*/
<<<<<<< Updated upstream
  /*padding: 0;*/
  /*padding-left: 2em;*/
}

.home_content_subheading{
  /*display: flex;*/
  /*flex-wrap:wrap-reverse;*/
  /*flex: auto;*/
  /*border: green 1px solid;*/
}


.home_content_text{
  display: flex;
  flex:auto;
  /*border: blue 1px solid;*/

=======
  padding-left: 2em;
>>>>>>> Stashed changes
}

.log_in{
  float: right;
  display: flex;
  position: relative;
  height: 8em;
  width: 6em;
  border: green 1px solid;


}

.shopping_cart{
  font-family: "title", Verdana;
  margin-top: 1em;
  display: flex;
  /*border: black 1px solid;*/
  /*height: 8em;
  width: 6em;*/
  float: right;
}
.signIn{
  font-family: "title", Verdana;
  margin-top: 1em;
  justify-content: flex-end;
  float: right;

}
h3.cart_page_parag{
  font-family: "title", Verdana;
  margin-top: 1em;
  justify-content: flex-end;
  float: right;
  color: rgb(44, 62, 80);
  padding-right: 5em;
  padding-left: 2em;
}


.bottom_banner{
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  overflow: auto;
  background-color: rgb(230,230,230);
}
.more_on_item{
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  /*padding-left: 10em;*/
  overflow: auto;
  background-color: rgb(230,230,230);
}

.social_media_icon{
  display: inline-block;
  position: relative;
  float: right;

  width: 5em;
  height: 5em;
  /*border: orange 1px solid;*/
}

.product_grid{
  margin-top: 3em;
  /*display: flex;
  flex-wrap: wrap;*/
}
.product_text{
  align-items: center;
}

.product_img{
  /*display: flex;*/
  flex-wrap: wrap;
  /*flex-grow: 1;*/
  flex-direction: column;
  /*justify-content: flex-end;*/
  /*border: red 1px solid;*/
  /*margin-left: 6em;*/
  /*margin-bottom: 2em;*/
}



.column_1, .column_2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*flex-wrap: wrap;*/
  /*flex-grow: 1;*/
  /*flex-direction: column;*/
  /*flex-wrap: wrap;*/
  /*border: red 1px solid;*/
  margin-top: 3em;
}

.product_display{
  /*border: teal 1px dashed;*/
}

.grid_gap{
  /*border: orange 1px solid;*/
  /*width: 5em;*/
  display: none;
}


.product_page_body{
  display: block;
  /*padding-left: 10em;
  width: 90%;*/
  margin-top: 2em;
  /*flex-wrap: wrap;*/
}


.product_page_img{
  max-width: 30em;
  /*justify-content: flex-end;*/
  /*flex-wrap: wrap;*/
}
.cart_page_img{
  display: flex;
  max-width: 10em;
  /*justify-content: flex-end;*/
  /*flex-wrap: wrap;*/
}

.product_page_info{
  /*border: red 1px dotte d;*/
  /*background-color: #fff;
  flex-grow: 1;*/
  /*max-width: 50em;*/
  margin-right: 0em;
  /*flex-wrap: wrap;*/
  font-family: "section", Verdana;
  color: rgb(44, 62, 80);
  text-align: left;
  padding-top: 1em;
}
.cart_page_info {
  display: flex;
  font-family: "section", Verdana;
  padding-top: 1em;
  color: rgb(44, 62, 80);

}

.container_body{
  /*border: red 1px solid;*/
  /*background-color: #fff;*/
}

/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    /*height: 300px;*/
}

/* Style the buttons inside the tab */
div.tab button {
    font-family: "title", Verdana;
    font-size: 1.5em;
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

}



/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

div img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Style the tab content */
.tabcontent {
  display: block;
    /*float: left;*/
    /*padding: 0px 12px;*/
    /*border: 1px solid #ccc;*/
    /*width: 70%;*/
    border-left: none;

    height: 350px;
    border: green 1px solid;
}


@media (min-width: 73.44em) { /*768px, 1175*/
    .home_imgs{
      display: inline-block;
      width: 100%;
      /*border: red 1px dotted;*/
      height: 20%;
    }

    .home_content{
      display: inline-block;
      width: 49%;
      /*border: green 1px dotted;*/
      /*height: 30em;*/
      margin-top: 0;
      background-color: #fff;
    }

    .container_main_home{
      display: flex;
      width: 90%;
      padding-left: 10em;
      flex-wrap: wrap;
    }
}

@media (min-width: 71.75em) {

  .paragraph-section{
    border: red 1px solid;
    /*position: absolute;*/
    /*display: inline-block;*/
    /*padding-left: 20%;*/
    /*padding-right: 40%;*/
    width: 100%;
    margin-left: 0;
    padding: 2em;
  }

  .side-image{
    border: red 1px solid;
    display: inline-block;
    margin-left: 15em;

    /*margin-top: 15%;*/
    /*margin-right: auto;*/
    /*padding-bottom: 10em;*/
    /*padding-left: 70%;*/
  }

}

@media (min-width: 48em){
  .bottom_banner{
    justify-content: flex-end;
  }

  .social_media_icon{
    margin-left: 3em;
  }

  .column_1, .column_2{
    flex-wrap: nowrap;
  }

  .grid_gap{
    display: block;
    width: 5em;

  }

}


@media (min-width: 85.81em){
  .product_page_body{
    display: flex;
    width: 90%;
    padding-left: 10em;
  }

  .product_page_img{
    max-width: 50em;
    /*flex-wrap: wrap;*/
  }

  .product_page_info{
    background-color: rgb(230,230,230);
    flex-grow: 1;
    padding-left: 5em;

    /*flex-wrap: wrap;*/
  }
}


/*.optioncontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}*/

/* Style the size option list */
div.size_option {
  /*display: block;*/
    /*float: left;*/
    /*border: 1px solid #ccc;*/
    background-color: white;
    width: 30%;
    /*height: 200px;*/
}

/* Style the buttons inside the size option */
div.size_option button {
    font-family: "title", Verdana;
    font-size: 1em;
    display: block;
    background-color: inherit;
    color: black;
    padding: 8px 4px;
    width: 100%;
    /*border: blue 1px solid;*/
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.size_option button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.size_option button.active {
    background-color: #ccc;
}

.add2Cart_Button{
  justify-content: flex-end;
  margin-top: 2em;
  padding-left: 21em;
  /*border: green 1px solid;*/
}
