form {
    /*border: 3px solid #f1f1f1;*/
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-signIn {
  /*background-color: rgb(44, 62, 80);*/
  background-color: rgb(125,35,20);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button-signIn:hover, .button-signIn:focus, .button-signIn:active {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: rgb(105,15,0);
    color: white;
}

.signIn_form{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /*border: 1px red solid;*/
}

/*.imgcontainer {*/

  /*border: green 1px solid;*/
  /*width: 10%;
  height: 10%;*/
  /*padding-left:40%;*/
  /*display: flex;*/
    /*text-align: center;
    margin: 24px 0 12px 0;*/
    /*justify-content: space-around;*/
    /*-ms-flex-grow: 1;*/
    /*flex-grow: 1;*/
    /*padding: 0.5em 0;*/
/*}*/

.container_signIn {
  /*border: blue 1px solid;*/
  justify-content: center;
  -ms-flex-grow: 1;
  flex-grow: 1;
  /*padding: 0.5em 3em;*/
  /*margin-left: 0;*/
  font-size: 1.4em; /*1.4*/
  text-align: center;
}



/*img.avatar {

    width: 40%;
    border-radius: 50%;
}*/



span.psw {
    float: right;
    padding-top: 16px;
}




@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


@media (min-width: 41.63em){
  .signIn_form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0 1em;
  }

  .container_signIn {
    justify-content: center;
  }

}
